<form class="EP-details" method="post" action="#">

    <div class="form-group text-center">
        <h3 class="studentDetailsTitle">Enter Student Details</h3>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="LastName" class="control-label">Last Name</label>
                <input type="text" class="form-control alignmentC" name="LastName" id="LastName" placeholder="Last Name" readonly/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="LastName" class="control-label">Middle Name</label>
                <input type="text" class="form-control alignmentC" name="MiddleName" id="MiddleName" placeholder="Middle Name" readonly/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="FirstName" class="control-label">First Name</label>
                <input type="text" class="form-control alignmentC" name="FirstName" id="FirstName" placeholder="First Name" readonly/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Mobile" class="control-label">Mobile</label>
                <input type="number" class="form-control alignmentC" name="Mobile" id="Mobile" placeholder="Mobile" readonly/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Email" class="control-label">Email</label>
                <input type="email" class="form-control alignmentC" name="Email" id="Email" placeholder="Email" readonly/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Email" class="control-label">Year of Student</label>
                <input type="number" class="form-control alignmentC" name="YearOfStudent" id="YearOfStudent" placeholder="Year of Student" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Email" class="control-label">Year of Student</label>
                <input type="number" class="form-control alignmentC" name="Skill" id="Skill" placeholder="Skill" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Email" class="control-label">Year of Student</label>
                <input type="number" class="form-control alignmentC" name="Specialization" id="Specialization" placeholder="Specialization" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Email" class="control-label">Year of Student</label>
                <input type="number" class="form-control alignmentC" name="DesiredPosition" id="DesiredPosition" placeholder="Desired Position" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Email" class="control-label">Year of Student</label>
                <input type="number" class="form-control alignmentC" name="BrassRingReferenceID" id="BrassRingReferenceID" placeholder="Brass ring Reference ID" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Email" class="control-label">Year of Student</label>
                <input type="number" class="form-control alignmentC" name="InterviewTypeList" id="InterviewTypeList" placeholder="Interview Type List" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Email" class="control-label">Year of Student</label>
                <input type="number" class="form-control alignmentC" name="Interviewer" id="Interviewer" placeholder="Interviewer" disabled/>
            </div>
        </div>

    </div>
</form>