<form class="positon-details-form" method="post" action="#">
    <div class="form-group">

        <div class="row">
            <div class="input-group alignmentC">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control alignmentC" name="name" id="name" placeholder="Specialization" />
            </div>
        </div>

        <div class="row">
            <div class="input-group alignmentC">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <select class="form-control" id="state_id">
			<option value="AL">Alabama</option>
			<option value="AK">Alaska</option>
			<option value="AZ">Arizona</option>
			<option value="AR">Arkansas</option>
			<option value="CA">California</option>
			<option value="CO">Colorado</option>
			<option value="CT">Connecticut</option>
			<option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            </select>

            </div>
        </div>


        <div class="row">
            <div class="row">
                <div class="input-group alignmentC">
                    <div class="col-sm-6 col-pad-right">

                        <input type="text" class="form-control alignmentC" name="name" id="name" placeholder="Approved Account" />
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control alignmentC" name="name" id="name" placeholder="Tentative Account" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-group alignmentC">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control alignmentC" name="name" id="name" placeholder="Specialization" />
                </div>
            </div>
            <div class="row">
                <div class="input-group alignmentC">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>


    </div>




</form>