<form class="EP-details" method="post" action="#">

    <div class="form-group text-center">
        <h3 class="studentDetailsTitle">Enter Student Details</h3>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="LastName" class="control-label">Last Name</label>
                <input type="text" class="form-control alignmentC" name="LastName" id="LastName" placeholder="Last Name" required/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="LastName" class="control-label">Middle Name</label>
                <input type="text" class="form-control alignmentC" name="MiddleName" id="MiddleName" placeholder="Middle Name" required/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="FirstName" class="control-label">First Name</label>
                <input type="text" class="form-control alignmentC" name="FirstName" id="FirstName" placeholder="First Name" required/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Mobile" class="control-label">Mobile</label>
                <input type="number" class="form-control alignmentC" name="Mobile" id="Mobile" placeholder="Mobile" required/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Email" class="control-label">Email</label>
                <input type="email" class="form-control alignmentC" name="Email" id="Email" placeholder="Email" required/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="Email" class="control-label">Year of Student</label>
                <input type="number" class="form-control alignmentC" name="YearOfStudent" id="YearOfStudent" placeholder="Year of Student" required/>
            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="EventDescription" class="control-label">Skill</label>
                <select class="form-control" id="state_id">
<option value="">Select Option</option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
     <option value="DC">District Of Columbia</option>
     </select>

            </div>
        </div>
        <div class="row">
            <div class="input-group alignmentC">
                <label for="EventDescription" class="control-label">Specialization</label>
                <select class="form-control" id="state_id">
<option value="">Select Option</option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
     <option value="DC">District Of Columbia</option>
     </select>

            </div>
        </div>

        <div class="row">
            <div class="input-group alignmentC">
                <label for="EventDescription" class="control-label">Desired Position</label>
                <select class="form-control" id="state_id">
<option value="">Select Option</option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
     <option value="DC">District Of Columbia</option>
     </select>

            </div>
        </div>

        <div class="row">
            <div class="input-group alignmentC">
                <label for="EventDescription" class="control-label">Brass ring Reference ID</label>
                <select class="form-control" id="state_id">
<option value="">Select Option</option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
     <option value="DC">District Of Columbia</option>
     </select>

            </div>
        </div>

        <div class="row">
            <div class="input-group alignmentC">
                <label for="EventDescription" class="control-label">Interview Type List</label>
                <select class="form-control" id="state_id">
<option value="">Select Option</option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
     <option value="DC">District Of Columbia</option>
     </select>

            </div>
        </div>

        <div class="row">
            <div class="input-group alignmentC">
                <label for="EventDescription" class="control-label">Interviewer</label>
                <select class="form-control" id="state_id">
<option value="">Select Option</option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
     <option value="DC">District Of Columbia</option>
     </select>

            </div>
        </div>

        <button type="button" class="btn btn-info">Upload Resume</button>


    </div>
</form>